.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

button {
  margin: 30px 0;
  padding: 10px;
  width: auto;
  height: 60px;
  border-radius: 5px;
  border: 1px solid #f7b95d;
  font-weight: bold;
  color: #5e5e5e;
  font-size: 1rem;
  background: #FFF;
}
button:hover {
  background: #f7b95d;
  color: #FFF;
}
.App-rolling img {
  width: 30vmin;
  margin: 30px;
}
@keyframes rolling {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.App-rolling img.works {
    -webkit-animation: rolling 5s infinite; /* Safari 4+ */
    -moz-animation: rolling 5s infinite; /* Fx 5+ */
    -o-animation: rolling 5s infinite; /* Opera 12+ */
    animation: rolling 5s infinite; /* IE 10+, Fx 29+ */
}